.titulo:hover
{
    color:brown;
}
h2 b
{
    color:aquamarine;
}
.h2-league:hover
{
    color:aquamarine; 
}
.navegacion
{
    line-height: 4;
}
.contactos{
    font-size: 20px;
}
.contactos_h2
{
    display: inline-block;
    background-color: darkcyan;
    padding: 100px;
    margin: 20px;
    border-radius: 1em;
    font-size: 2em;
    box-shadow: 4px 4px 1px 0 #000;
    text-shadow: 2px 2px 1px red;
}