.titulo:hover
{
    color:brown;
}
h2 b
{
    color:aquamarine;
}
.h2-league:hover
{
    color:aquamarine; 
}
.navegacion
{
    line-height: 4;
}
.contactos_h2
{
    display: inline-block;
    background-color: red;
    padding: 10px 10px;
    height: 50px;
    width: 100px;   
    box-sizing: border-box;
    text-align: center;
}