.titulo:hover
{
    color:brown;
    font-weight: normal;
    font-size:  5em;
    font-family: 'Playball', cursive;
}
h2 b
{
    color:aquamarine;
}
.h2-league:hover
{
    color:aquamarine; 
}

.navegacion
{
    line-height: 4;
}